html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --mapaCols: 0;
  --mapaFilas: 0;
}
.mi-barrio {
  display: grid;
  background-color: azure;
  grid-template-columns: repeat(calc(var(--mapaCols) / 2), 150px 50px);
}

.calle-h,
.calle-v {
  /*background-color: aqua;*/
  position: relative;
}

.calle-h {
  width: 150px;
  height: 50px;
  display: flex;
}

.calle-v,
.calle-v {
  width: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.calle-v.item-1 {
  height: 50px;
}
.calle-v.item-2 {
  height: 100px;
}
.calle-h.item-1 {
  width: 50px;
}
.calle-h.item-2 {
  width: 100px;
}

.posicion {
  background-color: blueviolet;
}

.calle-h .posicion {
  width: 50px;
  height: 25px;
}

.calle-v .posicion {
  width: 25px;
  height: 50px;
}

.desc {
  position: absolute;
  font-size: 13px;
  align-content: flex-end;
}

.calle-h .desc {
  top: -30px;
  height: 32px;
}
.calle-v .desc {
  writing-mode: tb;
  top: 50px;
  right: -30px;
  width: 32px;
}
.aqui {
  background-color: green;
}
.callePos {
  display: grid;
}
.calle-h .callePos {
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 25px 25px;
  grid-auto-flow: column;
}
.calle-v .callePos {
  grid-template-columns: 25px 25px;
  grid-template-rows: 50px 50px 50px;
}

.btn {
  margin-left: 85%;
  padding: 4px;
  border-radius: 5px;
  background-color: aquamarine;
  color: blue;
  border: 1px solid blue;
  text-decoration: none;
  margin-bottom: 8px;
}
.none {
  display: none;
}

.config-mi-barrio {
  & .dato {
    display: flex;
    flex-direction: row;

    & label {
      width: 200px;
    }
  }
  & .mapa {
    display: grid;
    grid-template-columns: repeat(var(--mapaCols), 30px);
    & .item-calle {
      background-color: aquamarine;
      width: 25px;
      height: 25px;
      margin: 5px;
      &.item-h {
        border-top: 5px solid blue;
        border-bottom: 5px solid blue;
      }
      &.item-v {
        border-right: 5px solid blue;
        border-left: 5px solid blue;
      }
    }
  }
}
